<div class="wrapper">

  <div class="card radius shadowDepth1">
    <div class="card__image border-tlr-radius">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAudAAAAJDQ1OWQ1MzAxLTA5OWItNGFjZS05NTY5LWU0MDBiZGE1ZTA2Zg.jpg" alt="image" class="border-tlr-radius">
    </div>

    <div class="card__content card__padding">
      <article class="card__article">
        <h2>
          Pavel Sanatov
        </h2>

        <p>Experienced Software Engineer with a demonstrated history of working in the healthcare related information technology
          and services industry.</p>
      </article>
    </div>

    <div class="card__action">
      <div class="card__source-code text-center">
        <div class="card__source-code-content">
          <small>Source code can be found
          <a href="https://github.com/psanatov/psanatov-website">here</a>.</small>
        </div>
      </div>
    </div>
  </div>

  <p class="text-center">
    <a class="share-icon linkedin" href="https://linkedin.com/in/psanatov" target="_blank">
      <span class="fa fa-linkedin"></span>
    </a>

    <a class="share-icon github" href="https://github.com/psanatov" target="_blank">
      <span class="fa fa-github"></span>
    </a>

    <a class="share-icon twitter" href="https://twitter.com/psanatov" target="_blank">
      <span class="fa fa-twitter"></span>
    </a>
  </p>
</div>