/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%;
}

body {
	background-color: rgb(51, 51, 51);
	font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.6;
}